iframe {
	height:93vh;
	width:100%;
	margin-top:63px;
	padding:2px;
}

.blue-bkgd-text{
   color:#F4EDEE;
   font-size:18px;
}

.blue-bkgd-text a:link{
   color:#59b3d3;
}

.blue-bkgd-text a:visited{
   color:#16151C;
}

@media(max-width:1200px) {
    #nav1.navbar .navbar-brand {
        float:none;
        display: block;
    }
    #nav1.navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    #nav1.navbar .navbar-nav {
        float:none !important;
    }
}

.row{
	padding-top:20px;
}

.viz-row{
	margin-left:20px; 
	margin-right:0px; 
	margin-bottom: 15px;
}

.text-right-custom{
	/*padding:100px; */
	padding-left:0px;
	padding-right:50px;
	max-height:80vh;
	overflow:auto;
}

.text-left-custom{
	/*padding:100px; */
	padding-right:0px;
	padding-left:50px;
	max-height:80vh;
	overflow:auto;
}

.text-image-overlay{
	background-color:rgba(70,70,70,.3);
	border-radius:10px;
}

.custom-iframe-border {
	border-style:solid;
	border-width:1px;
	border-color:#9B9FA6;
	border-top:none;
	border-bottom:none;
}

.map-full{
	margin-top:60px;
	margin-left:50px;
	margin-right:50px;
	width:95%;
	height:87vh;
}

.map-left{
	margin:0px;
	width:94%;
	height:80vh;
}

.map-right{
	padding-left:10px;
	margin:0px;
	width:94%;
	height:80vh;
	margin-left:10px;
}

.side-content{
	text-align: center;
}

.side-content img{
	max-width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#fp-nav ul li .fp-tooltip{
    color:black!important;
}